.skill {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.icon {
    height: 65px;
    width: 65px;
    background-color: #dbdbdb;
    align-self: center;
}

.nameSkill {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1135px) {
    .skill {
        width: 500px;
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;
    }
}