.skill {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.12);
    transform: rotate(45deg);
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 40px;
}

.icon img {
    width: 60%;
    transform: rotate(-45deg);
}

.skillTitle {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #ecb624;
}

.descriptionSkill {
    text-align: center;
}

@media screen and (max-width: 1135px) {
    .skill {
        width: 400px;
    }
}

@media screen and (max-width: 630px) {
    .skill {
        width: 100%;
    }
}