.skill {
    background-color: #fff;
    width: 300px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.icon {
    height: 65px;
    width: 65px;
    background-color: #dbdbdb;
    align-self: center;
}

.nameSkill {
    display: flex;
    justify-content: center;
}

.descriptionSkill {
    border: 1px solid;
}