.projects {
    min-height: 100vh;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    position : relative;
}

.container {
    width: 80%;
    align-self: center;
    padding: 50px 0;
}

.heading {
    display: flex;
    justify-content: center;
}

.projectsSet {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 1135px) {
    .projectsSet {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
