.slogan {
    height: 200px;
    background-color: #252527;
    display: flex;
    justify-content: center;
}

.container {
    min-width: 300px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.sloganText {
    font-size: large;
    align-self: center;
}