.messenger {
    width: 60px;
    height: 60px;
    border: 1px solid #ecb624;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messenger img{
    width: 80%;
    transition: 0.3s;
}

.messenger a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.messenger img:hover {
    width: 92%;
}