@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  margin-bottom: 60px;
  height: max-content;

  .imgBlock {
    height: 300px;
    position: relative;

    .projectImg {
      height: 300px;
      width: 300px;
      transition: 0.3s;
      & img {
        height: 300px;
        width: 500px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .projectTitle {
    @include text($titleFontFamily, 16px, 700, 1.2);
    letter-spacing: 2px;
    margin: 20px 15px 10px;
  }

  .description {
    @include text($textFontFamily, 12px, 400, 1.8);
    margin: 0 15px 20px;
  }

  @media screen and (max-width: 1135px) {
    width: 500px;
  }
  @media screen and (max-width: 630px) {
    width: 100%;
  }
}

