@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  margin-bottom: 60px;
  height: max-content;

  .imgBlock {
    height: 300px;
    position: relative;

    .projectImg {
      height: 100%;
      background-size: cover;
      background-position: center;
      background-image: url(https://i.pinimg.com/originals/44/e7/8d/44e78d1f020b30e73ba169510dd6460e.jpg);
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .projectTitle {
    @include text($titleFontFamily, 16px, 700, 1.2);
    letter-spacing: 2px;
    margin: 20px 15px 10px;
  }

  .description {
    @include text($textFontFamily, 12px, 400, 1.8);
    margin: 0 15px 20px;
  }

  @media screen and (max-width: 1135px) {
    width: 500px;
  }
  @media screen and (max-width: 630px) {
    width: 100%;
  }
}

