.project {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.projectImg {
    height: 300px;
    background-size: contain;
    display: flex;
    justify-content: center;
    background-image: url(https://lh6.ggpht.com/aiY9J8YK8Lzr7hMC7nZWlZGiBn8TF_PY7NVNy5U1i5g4zG8yEPzEZTJK2WwbWJUogg);
}

.button{
    display: flex;
    justify-content: center;
    align-self: center;
}


@media screen and (max-width: 1135px) {
    .project {
        width: 500px;
    }
}

@media screen and (max-width: 630px) {
    .project {
        width: 100%;
    }
}