@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.header {
    height: 50px;
    width: 100%;
    background-color: #3b3a3a;
    @include flex(row, center, center, wrap);
    position: fixed;
    z-index: 3;
    .container {
        @include container();
        @include flex(row, flex-end, center, wrap);
    }
}

