.footer {
    height: 250px;
    background-color: #252527;
    display: flex;
    justify-content: center;
}

.container {
    min-width: 300px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
}

.messengers {
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.messenger {
    background-image: url("https://webstockreview.net/images/thumb-clipart-gutka-3.png");
    background-size: cover;
    width: 60px;
    height: 60px;
}

.rights {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 623px) {
    .messengers {
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .messenger {
        width: 50px;
        height: 50px;
    }
}