@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.navMenu {
    width: 400px;
    @include flex(row, space-between, center, wrap);
    @include text($textFontFamily, 14px, 400, 1.2);
    cursor: pointer;
    &:hover{
        text-decoration-line: none;
    }
    .active {
        color: $primaryColor;
    }
}

