@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.navMenu {
    width: 400px;
    @include flex(row, space-between, center, wrap);

    .link {
        @include text($textFontFamily, 14px, 400, 1.2);
        color: $primaryColor;
        text-decoration-line: none;
        transition: 0.4s;
        &:hover{
            opacity: 0.5;
        }
    }
}

