@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/components/Button/Button.module";

.contacts {
    min-height: 100vh;
    background-color: $bgSecondColor;
    @include flex(column, space-around, center, null);
    position : relative;
    .container {
        @include container();
        @include flex(column, center, center, null);
    }
    .formWrapper {
        @include flex(column, space-around, center, null);
        width: 540px;
        height: 400px;
        margin-top: -30px;
        .formArea{
            height: calc(1.5em + 0.75em + 2px) ;
            padding: .4rem 15px;
            width: 100%;
        }
        .formArea,
        .messageArea{
            box-sizing: border-box;
            background: $bgColor !important;
            border: 1px solid #4a4a4a;
            @include text($textFontFamily, 12px, 400, 1.2);
            outline: none;
            opacity: 0.5;
            margin-bottom: 1rem;
            &:focus{
                border: 1px solid transparent;
                transition: all 0.3s ease-in-out 0s;
            }
        }
        .messageArea {
            min-height: 160px;
            padding: 15px;
            width: 100%;
        }
        .submitButton {
            @extend .button;
            align-self: center;
            background-color: transparent;
            margin-top: 30px;
            cursor: pointer;
        }
        @media screen and (max-width: 623px) {
            width: 100%;
        }
    }
}








